#all {
    width: 80%;
    margin: 0.5% 10%;
}

#jugador, #banca {
    float: left;
    width: 50%;
    height: 850px;
}

#cabeceraJ, #puntosB {
    float: top;
    margin: auto;
    height: 6%;
    border: solid white 1px;
}

#puntosJ {
    float: left;
    height: 100%;
    width: 35%;
    margin-left: 15px;
}

#boton {
    float: left;
    height: 100%;
    width: 35%;
    margin: 0 15px;
}

#planto {
    display: block;
    margin: 5% auto;
}

#cartasJugador, #cartasBanca {
   /* border: solid 1px black;*/
    height: 94%;
    float: bottom;
    background-image: url(imagenes/tapete.jpg);
}

#cartasJugador {
    border-radius: 30px 0 0 30px;
}

#cartasBanca {
    border-radius: 0 30px 30px 0;
}

#cartasJ, #cartasB {
    height: 450px;
}

#mazoJ, #mazoB {
    width: 50%;
    float: left;
    height: 100%;
}

#cartaJ, #cartaB {
    width: 50%;
    float: left;
    height: 100%;
}

#puntosB {
    padding-left: 15px;
}

#footer {
    float: bottom;
    clear: both;
    height: 60px;
}

#reiniciar {
    margin: 20px 10px 10px;
}

img {
    padding: 20px;
}

#cartaJug, #cartaBan {
    padding: 20%;
}

.miniatura {
    max-height: 140px;
    max-width: 100px;
    float: left;
    padding: 10px;
}

#ganador {
    font-size: 30px;
    text-align: center;
}

#divGanador {
    float: left;
    height: 60px;
    width: 300px;
}

#divReiniciar {
    float: right;
    height: 60px;
    width: 120px;
}